
/* Remove the defauult HTML style assumptions. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: #024e76;
    --tertiary-color: #6eaee9;
    --text-color: black;
    --hover-color: white;
}

/* Define the main body style */
body{
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: gainsboro;
}

/* Define the style for the header  */
header  {
    /* 20 pixesl top& bottom, 35 pixels left & right */
    padding: 20px  35px;     
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;     /* for Safari */
    position: sticky;
    top: 0;
 }


/* Define the styles for the footer that differ from the header  */
footer  {
    /* 20 pixesl top & bottom, 35 pixels left & right */
    padding: 20px  35px;     
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*  This only applies to the "h1" tag of the "header"  */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*  This only applies to the "h2" tag of the "footer"  */
footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 26px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/* Define the style for the "anchors" in the header */
/* I we don't specify "none", links will be underlined blue. */
header a, footer a {
    text-decoration: none;
    color: var(--primary-color);
}


/* Move the "nav" elements to the right. */
header nav, footer nav {
    margin: 7px 0;
}


/* Make the "list elements" all use a flexbox */
header nav ul, footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Define the decoration of the header links. */
header nav ul li a, footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size:  1.55vw;    /* vw = viewport width, here 1.55% of window width */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header nav ul li a:hover, footer nav ul li a:hover {   /* change the button when the mouse hovers */
    background: var(--primary-color);
    color: var(--hover-color);
    border-radius: 15px;
    text-shadow: none;
}


/* Define the color for the section headings. */
.section-title {
    color: var(--primary-color);
}

.primary-border {
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--primary-color);
}


.Projects-Accomplishments {
    margin-top: 20px ;
    margin-left: 10px;
}


.Me img {
    float: left;
    width: 125px;
    height: 125px;
    padding: 20px;
}

.Me p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}


.Education ul li {
    margin-left: 20px;
    list-style: none;
}

.bottom {
    margin-bottom: 20px;
}


.grid-wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    grid-gap: 20px;
    grid-auto-flow: dense;
}

.grid-container h3 {
    color: var(--primary-color);
}

.grid-container p::first-line {
    font-weight: bold;
}

.grid-item {
    padding: 15px 0;
    border: 2px solid color var(--primary-color);
}

.grid-item.grid-RunBuddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    object-fit: cover;
}

#size-2x2 {
    width: 100%;
}

#size-1x1 {
    width: 100%;
}   

.grid-item.grid-c2reel {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-content: center;
    object-fit: cover;
}

.grid-item.grid-c2forum {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    justify-content: center;
    object-fit: cover;
}

.grid-item.grid-horisean {
    grid-column: 1 / span 1;
    grid-row: 3 /  span 1;
    justify-content: center;
    object-fit: cover;
}

.grid-item.grid-caesarii {
    grid-column: 2 / span 1;
    grid-row: 3 /  span 1;
    justify-content: center;
    object-fit: cover;
}

.grid-item.grid-tank {
    grid-column: 3 / span 1;
    grid-row: 3 /  span 1;
    justify-content: center;
    object-fit: cover;
}
